<!DOCTYPE html>

<html>
<body>

<h1>Please Add Your task</h1>

<form action="/login/task" id="usrform" method="POST">
<textarea rows="4" cols="50" name="task" form="usrform">Enter your task here...</textarea><br>
Confirm: <input type="text" placeholder="please confirm your emailid" name="confirm">
<input type="submit">
</form>
<script type="text/javascript" src="/src/app.js">


</script>
</body>
</html>


